# Server Configuration
PORT=8080

# Database Connection String
# Format: postgresql://<user>:<password>@<host>:<port>/<database>
DATABASE_URL=postgresql://user:password@localhost:5432/chatter

# JWT Secret
JWT_SECRET=xxxx # openssl rand -base64 32
JWT_EXPIRES_IN=7d # 7 days
